<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/navbar %>

	
	<main>
		<% include ../partials/form %>
			<div class="container mg-b-20">
		<% include ../partials/result %>

			</div>
		
		
	</main>
	
</body>

</html>